<h2>List of Users</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= "#{user.last_name}, #{user.first_name}" %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'View Details', user %></td>
    <td><%= link_to 'Manage Busses', edit_user_path(user) %></td>
    <td><%= link_to 'Delete Account', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="user_links">
  <%= link_to 'New User', new_user_path %>
</div>