<!DOCTYPE html>
<html>

<head>
  <title>Wheresmybus</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :defaults %>
</head>

<body>
  
  <div id="header">
    <div id="wmsblogo">
      <%= image_tag "wmsb.png", :alt=>"where's my school bus" %>
      <% if admin_signed_in? %>
        <%= link_to "sign out", destroy_admin_session_path %>
      <% else %>
        <%= link_to "administrator signin", new_admin_session_path %>
      <%end%>
    </div>
  </div>
  
  <div id="main">
    <div class="user_panel">
      <%= yield %>
    </div>
  </div>
  
  <div id="footer">
    Made by Code for America in partnership with the City of Boston.
  </div>
</body>

</html>