<!DOCTYPE html>
<html>
<head>
  <title>Wheresmybus</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
    <div id="header">
           <div id="wmsblogo">
               <%= image_tag "wmsb.png", :alt=>"where's my school bus" %>
               <a href="/users/login">SIGN OUT</a>
       </div>
       </div>
<div id="main">
    <%= yield %>
    
</div>
    

</body>
</html>