<!DOCTYPE html>
<html>

<head>
  <title>Where's My School Bus | Boston Public Schools</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :defaults %>
</head>

<body>
  
  <div id="header">
    <div id="wmsblogo">
      <%= image_tag "wmsb.png", :alt=>"where's my school bus" %>
      <% if admin_signed_in? %>
        <%= link_to "Sign Out", destroy_admin_session_path, {:class => "sign_in_out button"} %>
      <% else %>
        <% if content_for? :signin_path %>
          <%= yield :signin_path %>
        <% else %>
          <%= link_to "Administrator Sign In", new_admin_session_path, {:class => "sign_in_out button dark"} %>
        <%end%>
      <%end%>
    </div>
    <a href="http://www.bostonbuilt.org/"><img class="built-in-boston" src="/images/built_in_boston_color_fancy.png"/></a>
  </div>
  
  <div id="main">
    <%= render :partial => 'layouts/notices' %>
    <div class="user_panel">
      <%= yield %>
    </div>
  </div>
  
  <div id="footer">
    Made by
    <a href="http://codeforamerica.org">Code for America</a>
    in partnership with the
    <a href="http://www.newurbanmechanics.org">City of Boston</a>
  </div>
</body>

</html>